<section>
    <div class="border-black dark:border-white border-t flex flex-wrap flex-row justify-between max-w-3xl mx-auto py-4">
        <div>Copyright © 2023 | By <a target="_blank" class="underline" href="https://github.com/francoiscoche">me</a> with <i class="text-rose-900 dark:text-cyan-400 fas fa-code"></i></div>
        <div class="flex home-social max-[437px]:mt-6">
            {% include "components/_social-link.html.twig" %}
        </div>
    </div>
</section>