<footer>
    <div class="max-w-3xl mx-auto my-4">
        <hr class="dark:border-white border-black" aria-hidden="true">
    </div>
    <div class="flex flex-wrap flex-row justify-between max-w-3xl mx-auto py-4">
        <div class="">Copyright © 2023 | All rights reserved.</div>
        <div class="text-lg flex items-center home-social">
            {% include "components/_social-link.html.twig" %}
        </div>
    </div>
</footer>