<section>
    <div class="border-black dark:border-white border-t flex flex-wrap flex-row justify-between max-w-3xl mx-auto py-4">
        <div class="">Copyright © 2023 | All rights reserved.</div>
        <div class="text-lg flex items-center home-social">
            {% include "components/_social-link.html.twig" %}
        </div>
    </div>
</section>