<nav class="mt-8 px-4">
    <div class="flex justify-between mx-auto max-w-3xl">
        <a class="text-2xl" href="{{ path('app_home') }}">Blog</a>
        <ul class="flex flex-wrap space-x-5 text-lg">
            <li class="p-2"><a href="{{ path('app_post') }}"><i class="fas fa-newspaper"></i> Posts</a></li>
            <li class="p-2"><a href="{{ path('app_tag') }}"><i class="fas fa-hashtag"></i> Tags</a></li>
            <li class="p-2"><a href="{{ path('app_about') }}"><i class="fas fa-address-card"></i> About</a></li>
        </ul>
    </div>
    <div class="max-w-3xl mx-auto py-8 ">
        <hr class="border-line" aria-hidden="true">
    </div>
</nav>

