/* body {
    background-color: lightgray;
} */

/* .margin-container {
    max-width: 48rem;
    margin-left: auto;
    margin-right: auto;
} */

body {
    background-color: #2f3741;
    font-family: "Sanchez", sans-serif;
}

nav {
    color:#e6e6e6;
}

nav li a {
    transition: 0.3s;
}

nav li a:hover{
    color:#1ad9d9;
}
.ultimi-post-title {
    color:#e6e6e6;
}

.post-title-post {
    color:#1ad9d9;
}

.post-content-post {
    color:#e6e6e6;
}

.post-date-post {
    color:#bdbdbddc;
}

.post-tag-post {
    color:#e6e6e6;
}

.home-title-post {
    color:#1ad9d9;
}

.home-content-post {
    color:#e6e6e6;
}

.home-date-post {
    color:#bdbdbddc;
}

.home-see-all {
    color:#e6e6e6;
    transition: 0.3s;
}

.home-see-all:hover {
    color:#1ad9d9;
}

.home-text {
    color:#e6e6e6;
}

.home-title {
    color:#e6e6e6;
}

.home-social {
    color:#e6e6e6;
}

.home-social a {
    -webkit-transition: -webkit-transform 0.8s ease-in-out;
    transition: transform 0.3s ease-in-out;
}
.home-social a:hover {
    color:#1ad9d9;
    -webkit-transform: rotate(30deg);
    transform: rotate(30deg);
}

.border-line {
    border-color:#bdbdbddc;
    opacity: 0.2;
}

footer {
    color:#e6e6e6;
}

.link-blog {
    color:#bdbdbddc;
}

.text-tag {
    color:#e6e6e6;
}