<!DOCTYPE html>
<html lang="it">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>{% block title %}Blog{% endblock %}</title>
        <link rel="icon" href="{{ asset('assets/favicon.ico')}}">
        {% block stylesheets %}
            {# <link href="{{ asset('bundles/ckeditor_custom/plugins/codesnippet/lib/highlight/styles/monokai_sublime.css') }}" rel="stylesheet"> #}
            {{ encore_entry_link_tags('app') }}
        {% endblock %}
        {% block javascripts %}
            {{ encore_entry_script_tags('app') }}
        {% endblock %}
    </head>
    <body class="overflow-y-scroll text-[#151515] dark:text-[#d0d0d0] dark:bg-[#111827]">
        <div class="flex flex-col h-screen justify-between">
            <div>
                {% include "partials/_header.html.twig" %}
                <script>
                    const html = document.querySelector("html");

                    if (localStorage.theme === 'dark' || (!('theme' in localStorage) && window.matchMedia('(prefers-color-scheme: dark)').matches)) {
                        html.classList.add("dark")
                    } else {
                        html.classList.remove("dark");
                    }
                </script>
                {% block body %}{% endblock %}
            </div>
            {% include "partials/_footer.html.twig" %}
        </div>
    </body>
</html>
