{% if posts is defined %}
    {% for post in posts %}
        <li class="my-4">
            <a href={{ path('app_post_show', { slug : post.slug }) }}><h2 class="home-title-post font-semibold text-rose-900 dark:text-cyan-400 text-xl mb-1">{{ post.title }}</h2></a>
            <div class="dark:text-gray-400 text-gray-500 text-sm italic"><i class="fas fa-calendar-days"> </i> {{ post.createdAt|format_datetime(locale='it', pattern="EEEE dd MMMM YYYY | HH:mm") }}</div>
            <div class="">{{ post.content | u.truncate(90, '...') | raw }}</p>
        </li>
    {% endfor %}
{% endif %}