<a target="_blank" class="mr-6 text-rose-900 dark:text-white" href="https://github.com/francoiscoche"><i class="text-2xl fab fa-github"></i></a>
<a target="_blank" class="mr-6 text-rose-900 dark:text-white" href="https://www.linkedin.com/in/francois-coche/"><i class="text-2xl fab fa-linkedin-in"></i></a>
<a target="_blank" class="mr-6 text-rose-900 dark:text-white" href="https://twitter.com/FrancoisDev_"><i class="text-2xl fab fa-twitter"></i></a>